{% extends "layout.html" %}
{% block content %}
<div class="content-section">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search ingredients</legend>
            <!-- <form method="POST" action="{{ url_for('posts.search_ingredients') }}">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle mb-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="selectedCategory">{{ drop_title }}</span>
                    </button>
            
                    <select class="dropdown-menu" aria-labelledby="dropdownMenuButton1" name="food_category" id="foodCategorySelect">
                        <option value="Lunch">Lunch</option>
                        <option value="Chicken">Chicken</option>
                        <option value="Beef">Beef</option>
                        <option value="Cheese">Cheese</option>
                        <option value="Pasta">Pasta</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                    <button type="submit" class="dropdownMenuButton1 mb-5">Search</button>
                </div>
            </form> -->
                {% for post in posts%}
                    <article class="media content-section">
                        <div class="media-body"> 
                            <h2><p class="article-title title-text">{{ post.title}}</a>
                            {%if post.already_saved == False%}
                            <a href="{{url_for('posts.save_post_from_search', title=post.title)}}" class="material-symbols-outlined bookmark-symbol">bookmark</a>
                            {%else%}
                            <a href="{{url_for('posts.delete_post_from_search', title=post.title)}}" class="material-symbols-rounded bookmark-symbol-fill">bookmark</a>
                            {%endif%}
                            </h2>
                            <h3><p class="article-ingredients">Method:</p></h3>
                            <p class="article-content description-text method-container">{{ ''.join(post.content).replace('[','').replace(']','').replace('\'','') }}</p>
                            <h3><p class="article-ttle">Ingredients:</p></h3>
                            <ul class="article-ingredients ingredients-text">
                                {% set elements = post.ingredients.strip('[]').replace('"', '').split(', ')%}
                                {% for ingredient in elements%}
                                    <li>{{ ingredient.strip() }}</li><br>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                {% endfor %}

            <div class="form-group">
                {{ form.ingredients.label(class="form-control-label") }}
                {% if form.ingredients.errors %}
                {{ form.ingredients(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.ingredients.errors %}
                    <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="ingredients-input">
                    <div class="ingredient-row">
                        <button type="button" class="btn btn-secondary add-ingredient mt-2 mb-2">+</button>
                        <button type="button" class="btn btn-danger remove-ingredient mt-2 mb-2" disabled>-</button>

                        {{ form.ingredients(class="invisible", rows=1) }}
                    </div>
                </div>
                {% endif %}
            
            </div>

            <div class="grid-container-element">
                <div class="form-group pt-3">
                    <button class='button btn-secondary submit-button' type="submit" name="submit_type">Search</a>
                </div>
                <div id="loading" class="loading" style="display: none;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        
            
        </fieldset>
    </form>
</div>


<script>
    const ingredientsContainer = document.querySelector('.ingredients-input');
    
    const hiddenIngredientsTextarea = document.querySelector('textarea[name="ingredients"]');
    
    const addButton = document.querySelector('.add-ingredient');
    
    const removeButton = document.querySelector('.remove-ingredient');
    
    let ingredientCount = 1;
    
    function addIngredientField() {
        const ingredientRow = document.createElement('div');
        ingredientRow.classList.add('ingredient-row', 'mb-1', 'mt-1');

        const ingredientInput = document.createElement('textarea');
        ingredientInput.classList.add('form-control', 'form-control-lg');
        ingredientInput.rows = 1;
        ingredientInput.name = `ingredient_${ingredientCount}`;
        ingredientInput.addEventListener('input', updateHiddenTextarea);
        
        ingredientRow.appendChild(ingredientInput);
        ingredientsContainer.appendChild(ingredientRow);
        
        ingredientCount++;
        
        if (ingredientCount > 1) {
            removeButton.disabled = false;
        }
    }
    
    function removeLastIngredientField() {
        if (ingredientCount > 1) {
            const lastIngredientRow = ingredientsContainer.lastElementChild;
            const lastIngredientInput = lastIngredientRow.querySelector('textarea');
            
            ingredientsContainer.removeChild(lastIngredientRow);
            
            ingredientCount--;
            
            if (ingredientCount === 1) {
                removeButton.disabled = true;
            }
            
            updateHiddenTextarea();
        }
    }
    
    function updateHiddenTextarea() {
        const ingredientTexts = [];
        for (let i = 1; i < ingredientCount; i++) {
            const ingredientInput = document.querySelector(`textarea[name="ingredient_${i}"]`);
            if (ingredientInput) {
                ingredientTexts.push(ingredientInput.value);
            }
        }
        hiddenIngredientsTextarea.value = ingredientTexts.join('\n');
    }

    var storedIngredients = {{ form.ingredients.data|tojson }};
    if(storedIngredients){
        var array = storedIngredients.split('\n').map(function(item) {
        return item.trim();
    });
    }
    

    
    addButton.addEventListener('click', addIngredientField);
    removeButton.addEventListener('click', removeLastIngredientField);

</script>

<script>
    const ingredientsSection = document.querySelector('.ingredients-input');
    const input = document.querySelector('.invisible')
    const submitButton = document.querySelector('.submit-button');
    submitButton.disabled = true;   
    ingredientsSection.addEventListener("input", function(){
    if (input.value) {
        submitButton.disabled = false;
    }
    else{
        submitButton.disabled = true;
    }});
    
    submitButton.addEventListener('click', function() {
        document.getElementById('loading').style.display = 'block';

    });
</script>

<script>
    window.addEventListener("scroll", () => {
    const scrollY = window.scrollY;
    console.log(scrollY)
    localStorage.setItem("scrollPositionSearch", scrollY);
});
    window.addEventListener("load", () => {
    const scrollY = localStorage.getItem("scrollPositionSearch");
    if (scrollY !== null) {
        window.scrollTo(0, parseInt(scrollY, 10));
    }
});

</script>


{%endblock content%}









